body {
	background-image: url("https://cutewallpaper.org/21/anime-girl-computer-wallpaper/Cute-Anime-Girl-Wallpapers-Top-Free-Cute-Anime-Girl-.jpg");
	background-repeat:no-repeat;
 background-size:cover;
} 
